<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="APP_STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                pattern="%date{ISO8601} %p [%thread] %C{4} %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.example.jmp" level="INFO"/>

        <Root level="${log.app.level:-INFO}">
            <AppenderRef ref="APP_STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
